* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --p-color1: white;
    --p-color2: black;
    --p-primary: #d6adca;
    --p-secondary: #4A4063;
    --p-tertiary: --#C8C6D7;
  }
body {
    animation: color-cycle 15s infinite alternate;
}

@keyframes color-cycle {
    0% { background-color: black; }
    50% { background-color: white; }
    100% { background-color: rgb(206, 206, 231); }
}
  
.container {
	width: 100%;
	display: flex;
	margin-top: 50px;
	position: relative;
	overflow: hidden;
	width: 100%; 
}
.description {
	width: 50%;
}
.description h1 {
	color: rgb(217, 94, 94);
	gap: 100px;
	font-size: 60px;
	margin: 50px;
}
  
  .description {
	transform: translateX(-100%); 
	opacity: 0; 
	animation: slideInFromLeft 1s ease-out 0.5s forwards; 
  }
  
  @keyframes slideInFromLeft {
	from {
	  transform: translateX(-100%);
	  opacity: 0;
	}
	to {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
.description .btn {
	margin: 50px;
	height: 80px;
	width: 150px;
	margin-right: 25px;
	padding: 10px;
	border-radius: 20px;
	background: var(--p-);
	border: 10px double var(--p-secondary);
	font-size: 20px;
	&:hover {
		background-color: var(--p-primary);
		color: var(--p-color1);
		border: 2px solid black;
	}
}
.description a {
	text-decoration: none;
	margin: auto;
}

.images {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.images .images1 img{
	width: 500px;
	border-radius: 100px 10px 100px 10px;
	padding-top: 100px;
	padding: 10px;
	margin-left: 100px;
	
}
