* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --p-primary: #F7E7CE;
    --p-secondary: #CDB280;
    --p-color1: white;
    --p-color2: #3D2B1F;
  }

  main {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
  }
p {
  font-size: 0.9rem;
  padding: 1rem;
  text-align: justify;
}
  article {
    width: 20vw;
    height: 70vh;
    border: 1px solid var(--p-primary);
    box-shadow: rgb(191, 191, 191) 5px 5px 5px;
    background-color: var(--p-primary);
    border-radius: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
article:hover {
    transform: scale(0.99);
}
  .card img {
    width: 10rem;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  span p {
    color: var(--p-color2);
    font-size: 1.1rem;
    text-align: center;
  }
