
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
:root {
    --p-color1: white;
    --p-color2: black;
    --p-primary: #d6adca;
    --p-secondary: #4A4063;
    --p-tertiary: --#C8C6D7;
}
nav {
    padding: 0.5rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem; 
    gap: 20px; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    width: 40px;
    color: var(--p-primary);
    opacity: 0.7;
}
.logo h1 {
    color: var(--p-secondary);
    font-size: 40px;
    font-family: 'Calibri',  sans-serif;
}
.navbar {
    display: flex;
    width: 60%;
    justify-content: center;
}
.navbar ul {
    text-decoration: none;
	margin: 10px;
    display: flex;
}
.navbar ul li {
    gap: 5px;
	display: flex;
	text-decoration: none;
	text-align: center;
}
.navbar ul li a {
    color: var(--p-color2);
    text-decoration: none;
    font-weight: bold;
    box-shadow: rgb(167, 167, 167) 3px 3px 3px;
    background-color: white;
    border: 1px solid #848482;
    margin: 0.5rem 1rem;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    width: 2rem;
}
.boutton {
	display: flex;
	gap: 20px;
	
}
.boutton .login {
	height: 40px;
	width: 100px;
	margin-top: 20px;
	padding: 10px;
	background: transparent;
	border-radius: 20px;
	&:hover {
		background-color: white;
		color: violet;
		border: 2px solid gold;
	}
}
.login a {
    text-decoration: none;
    color: var(--p-color2);
}

.boutton .sign {
	height: 40px;
	width: 100px;
	margin-top: 20px;
	padding: 10px;
	background:  orange;
	border-color: 20px bisque;
	border-radius: 20px;
	&:hover {
		background-color: white;
		color: violet;
		border: 2px solid gold;
	}
}
body.light-mode {
    background-color: #f9f9f9;
}

body.light-mode .content {
    background-color: #fff;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

body.dark-mode .content {
    background-color: #333;
}

#toggle-mode {
    padding: 10px 15px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent; 
    color: inherit; 
    position: relative; 
    overflow: hidden; 
    line-height: 1; 
}

.sun-icon, .moon-icon {
    font-size: 5.5rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
	border: none;
}

