
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
:root {
    --p-color1 : #f3cdc8;
    --p-color2 : #31294C;
	--p-color3: #fff;
    --p-secondary : #f5f423;
    --p-primary :  #92927D;
    --p-tertiary : #Bfacc8;
}

nav {
    padding: 0.5rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

nav a {
    color: var(--p-color2);
    text-decoration: none;
    font-weight: bold;
    box-shadow: rgb(167, 167, 167) 3px 3px 3px;
    background-color: white;
    border: 1px solid #848482;
    margin: 0.5rem 1rem;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    width: 2rem;
}
h1 {
    color: var(--p-secondary);
    font-size: 30px;
    font-family: 'Calibri',  sans-serif;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    width: 30px;
    height: 30px;
    color: var(--p-color3);
    opacity: 0.7;
}

.boutton {
	display: flex;
	gap: 20px;
	
}
.boutton .login {
	height: 40px;
	width: 100px;
	margin-top: 20px;
	padding: 10px;
	background: transparent;
	border-color: 20px bisque;
	border-radius: 20px;
	&:hover {
		background-color: white;
		color: violet;
		border: 2px solid gold;
	}
}
.boutton .sign {
	height: 40px;
	width: 100px;
	margin-top: 20px;
	padding: 10px;
	background:  orange;
	border-color: 20px bisque;
	border-radius: 20px;
	&:hover {
		background-color: white;
		color: violet;
		border: 2px solid gold;
	}
}
body.light-mode {
    background-color: #f9f9f9;
}

body.light-mode .content {
    background-color: #fff;
}

/* Styles pour le mode sombre */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

body.dark-mode .content {
    background-color: #333;
}

/* Style du bouton */

#toggle-mode {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: transparent; /* Fond transparent pour laisser voir l'icône */
    color: inherit; /* Hérite de la couleur du texte (qui sera celle de l'icône) */
    position: relative; /* Pour positionner les icônes */
    overflow: hidden; /* Empêche le texte de déborder si jamais */
    line-height: 1; /* Ajuste la hauteur de ligne pour les icônes */
}

.sun-icon, .moon-icon {
    font-size: 1.5rem; /* Taille des icônes */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
	border: none;
}

.sun-icon {
    opacity: 1; /* Visible par défaut (mode clair) */
}

.moon-icon {
    opacity: 0; /* Caché par défaut */
}

/* Afficher la lune et cacher le soleil en mode sombre */
body.dark-mode .sun-icon {
    opacity: 0;
}

body.dark-mode .moon-icon {
    opacity: 1;
}