
* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
:root {
    --p-color1: white;
    --p-color2: black;
    --p-primary: #d6adca;
    --p-secondary: #4A4063;
    --p-tertiary: --#C8C6D7;
}
nav {
    padding: 0.5rem;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem; 
    gap: 20px; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    width: 40px;
    color: var(--p-primary);
    opacity: 0.7;
}
.logo h1 {
    color: var(--p-secondary);
    font-size: 40px;
    font-family: 'Calibri',  sans-serif;
}
.navbar {
    display: flex;
    width: 60%;
    justify-content: center;
}
.navbar ul {
    text-decoration: none;
	margin: 10px;
    display: flex;
}
.navbar ul li {
    gap: 5px;
	display: flex;
	text-decoration: none;
	text-align: center;
}
.navbar ul li a {
    color: var(--p-color2);
    text-decoration: none;
    font-weight: bold;
    box-shadow: rgb(167, 167, 167) 3px 3px 3px;
    background-color: white;
    border: 1px solid #848482;
    margin: 0.5rem 1rem;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    width: 2rem;
}



